
<!-- <div class="ui top fixed inverted menu" style="padding-top: 10px; padding-bottom: 10px;"> -->
<div class="ui top fixed menu borderless inverted" style="">
    
    <a href="/"><i class="chart line icon" style="font-size: 40px; padding-top: 25px; padding-left: 15px; padding-right: 40px;"></i></a>
    
    <!-- MENUS -->
    
    
    <a href="/" class="item">Data Portal Home</a>
    
    <!-- Drop down menus. Currently not required.
    <div class="ui pointing dropdown link item">
        <span class="text">Menu1</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="header">Subheading1</div>
            <div class="item">
                <i class="dropdown icon"></i>
                <span class="text">Submenu</span>
                    <div class="menu">
                        <a href="" class="item">Item1</a>
                        <a href="" class="item">Item2</a>
                        <a href="" class="item">Item3</a>
                    </div>
                </div>
            <div class="divider"></div>
            <div class="header">Subheading2</div>
            <a href="" class="item">Item4</a>
            <a href="" class="item">Item5</a>
        </div>
    </div>
    
    <div class="ui pointing dropdown link item">
        <span class="text">Menu2</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="" class="item">Item6</a>
            <a href="" class="item">Item7</a>
        </div>
    </div>
    -->
    
    
    <a href="/" class="item">Browse Data</a>
    <a href="/" class="item">Developers</a>
    <a href="/admin" class="item">Admin</a>
    <a href="/" class="item">Help</a>
    
    <!-- SEARCH BAR (Moved to Homepage) -->
    <!--
    <div class="ui category search" style="padding-left: 20px;">
        <div class="ui icon input" style="width: 500px;">
            <input class="prompt" style="background: #F5F5F1;" type="text" placeholder="Search data portal...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    -->

    <div class="right menu">
        <div class="ui right aligned category item">
             <a href="/" class="item">Login</a>
        </div>
    </div>



</div>
