<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- SCRIPTS FOR SIDEBAR (jQuery) -->
	
	<script>
	  $( function() {
		$( "#accordion0" ).accordion({
		  collapsible: true,
		  active: false,
		});
	  } );
	  
		$( function() {
		$( "#accordion1" ).accordion({
		  collapsible: true,
		  active: false,
		});
	  } );
	  
		$( function() {
		$( "#accordion2" ).accordion({
		  collapsible: true,
		  active: false,
		});
	  } );
	  
	  $( function() {
		$( "#accordion3" ).accordion({
		  collapsible: true,
		  active: false,
		});
	  } );
	</script>
	


	<!-- CSS STYLING -->
	
	<style>
		
		.sidenav {
		  height: 100%;
		  width: 500px;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  /* background-color: #111; */
		  overflow-x: hidden;
		  padding-top: 150px;
		  padding-left: 10px;
		  font-size: 16px !important;
		  border: none !important;
		}

		.sidenav a {
		  padding: 6px 8px 6px 0px;
		  text-decoration: none;
		  font-size: 14px !important;
		  color: #818181;
		  display: block;
		}

		.sidenav a:hover {
		  /* color: #f1f1f1; */
		}
		
		.main {
		  margin-left: 200px; /* Same as the width of the sidenav */
		  padding-left: 150px;
		  padding-right: 200px;
		  padding-top: 150px;
		  padding-bottom: 0px;
		}

	</style>  

</head>


<body>	
	
	{% include "main/includes/header.html" %}
	{% include "main/includes/navbar.html" %}

	<!-- SIDEBAR MENU -->
	
	<div class="sidenav ui vertical menu borderless" style="border: none !important;">
		
		{% for categ in app_categories %}
			<div id="accordion{{ forloop.counter0 }}">
				<h3 style="color: gray; background: white; border: 0px; font-weight: bold; text-align: left;">{{ categ.category_name }}</h3>
				<div style="border: 0px; padding-top: 0px; padding-left: 26px;">
					{% for app in apps %}		  
						{% if app.app_category_id == categ.id %}
							<p style="text-align: left; margin-bottom: 0px;"><a href="/">{{ app.app_name }}</a></p>
						{% endif%}
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		
	</div>
	
	
	<!-- HEADINGS FOR SEARCH BAR -->
    <div class="main" style="text-align center;">       
        
        <div class="ui huge header" style="text-align: center; color: gray;">Find the data you need</div>
        
        <div class="ui medium header" style="text-align: center; color: gray;">Search hundreds of datasets, dashboards and KPIs. Or browse the <a href="https://schneider-electric.collibra.com/dashboard">data catalog</a></div>
        <!-- https://schneider-electric.collibra.com/search?q=opportunities -->
        
        
        
        <!-- SEARCH BAR -->
        <div class="ui category search" style="text-align: center;">
            <div class="ui icon input" style="width: 80%;">
                <input class="prompt" style="background: #F0F0F0; border-radius: 1.0rem; font-size: 18px;" type="text" placeholder="Search for things like Opportunities, Sales, Marketing, etc.">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        
        <br><br><br>
        
		
        <!-- APPS GROUPED BY CATEGORY -->
        
        {% for categ in app_categories %}
            <div>
            
                <div class="ui medium header" style="color: gray;">{{ categ.category_name }}</div>
                
                <div class="ui four column grid">
                {% for app in apps %}
                
                    {% if app.app_category_id == categ.id %}
                        
                        <div class="column">
							<div class="ui cards">
								<div class="ui card" style="height: 200px;">
								  <div class="content">
									<div class="right floated meta">14h</div>
									<!-- <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> {{ app.app_name }} -->
									<i class="{{ app.app_icon }} icon" style="font-size: 30px;"></i><span style="font-size: 16px;">{{ app.app_name }}</span>
									<div class="description">{{ app.app_description }}</div>
								  </div>
								  <div class="image">
									<img>
								  </div>
								  <div class="content">
									<span class="right floated">
									  <i class="heart outline like icon"></i>
									  17 likes
									</span>
									<i class="comment icon"></i>
									3 comments
								  </div>
								  <div class="extra content">
									<div class="ui large transparent left icon input">
									  <i class="heart outline icon"></i>
									  <input type="text" placeholder="Add Comment...">
									</div>
								  </div>
								</div>
							</div>
                        </div>
                        
                    {% endif %}    
                
                {% endfor %}
                </div>
                <br>
                <a href="" style="color: Blue; float: right;">More</a>
                <br><br>
                    
            </div>
            
        {% endfor %}
        
    </div>

	
</body>
</html>
